.c-heading {
    color: $gray-text;
    line-height: $line-height-sm; //1.2 dla wszystkich
    margin-bottom: $grid-base / 2;//baza 5 to 2.5

    &--level1 { //najwiekszy tekst *GENERAL STATISTIC??? DODTOSOWAC WIELKOSC, BEDZIE ZA DUZY
        font-size: $font-size-2;
        
        @include large-up {
            font-size: $font-size-1;
        }
    }

    &--level2 {
        font-size: $font-size-3;
        
        @include large-up {
            font-size: $font-size-2;
        }
    }

    &--level3 {
        font-size: $font-size-3;
    }

    &--level4 {
        font-size: $font-size-4;
    }

    &--level5 {
        font-size: $font-size-5;
    }

    &--upper {
        text-transform: uppercase;
    }

    &--white { //C-HEADING--WHITE gdy dodamy do klasy bedzie bialy naglowek
        color: $white;
    }

   
}