p { //AKAPITY
    font-size: $font-size-5;
    font-weight: 400;
    line-height: $line-height-base; //1,5
    margin: 0;
    margin-bottom: $grid-base; //ok 10px (bazuje na siatce)
}

h1, h2, h3, h4, h5, h6 {
    font-size: $font-size-4; //resetuje wszystkie naglowki do 16px. powieksze je w klasach
    line-height: $line-height-base;
    margin: 0;
}

a {
    color: $brand-color-grey;
    text-decoration: none;
    &:hover {
        color: $brand-color-grey;
        text-decoration: underline;
    }
}