.o-col { //male uzadzenia do wszystkich kolumn
    width: 100%; // wartosc dla przegladarek starszych np IE11 i IE11
    padding-left: $gutter; //15px
    padding-right: $gutter; //15px

    &--md25 {//URZADZENIA MALE
        @include medium-up {
            flex: 0 0 25%;
            max-width: 25%;
        }
    }

    &--md33 {
        @include medium-up {
            flex: 0 0 33.3333%;
            max-width: 33.3333%;
        }
    }

    &--md50 { //dwie kolumny obok siebie
        @include medium-up {
            flex: 0 0 50%;
            max-width: 50%; // wartosc dla przegladarek starszych np IE11 i IE11
        }
    }

    &--lg25 { //URZADZENIA DUZE 1200PX//OTRZYMAMY 25%STRONY
        @include large-up {
            flex: 0 0 25%;
            max-width: 25%;
        }
    }

    &--lg33 {
        @include large-up {
            flex: 0 0 33.3333%;
            max-width: 33.3333%;
        }
    }

    &--lg50 {
        @include large-up {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }

    &--lg75 {
        @include large-up {
            flex: 0 0 75%;
            max-width: 75%;
        }
    }
}